.sessions {
  padding: 1.5em;
}

.list-group {
  padding: .8em .0em;
}

.list-group-item {
  padding: .2em;
}

.panel {
  min-height: 420px;
}
ul.attendees li.list-group-item-info { line-height: 2.2em;}

ul.attendees li.disabled { line-height: 2.2em;}

ul.attendees li { padding: .5em;}
