.sessions {
  padding: 1.5em;
}

.list-group {
  padding: .  6em .0em;
}

.list-group-item {
  padding: .1em;
}

.panel {
  min-height: 420px;
}
ul.attendees li.km { line-height: 2.1em;}

ul.attendees li { padding: .4em;}

.avis {
  font-size: 1.1em;
  font-weight: 600;
  padding: .5em 0;
}
